In [1]:
from datetime import date

In [2]:
today = date.today()

In [3]:
print(today.timetuple.__doc__)

Return time tuple, compatible with time.localtime().

In [4]:
today.timetuple()

time.struct_time(tm_year=2023, tm_mon=2, tm_mday=16, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=3, tm_yday=47, tm_isdst=-1)

In [5]:
today.timetuple().tm_year

2023

In [6]:
today.weekday.__doc__

'Return the day of the week represented by the date.\nMonday == 0 ... Sunday == 6'

In [7]:
today.weekday()

3

In [8]:
import calendar

In [9]:
calendar.day_

AttributeError: module 'calendar' has no attribute 'day_'

In [ ]:
import calendar

calendar.day_name[today.weekday()]

In [ ]:
import time

In [ ]:
print(time.__doc__)

In [ ]:
print(time.ctime.__doc__)

In [ ]:
time.ctime()

In [ ]:
time.daylight

In [ ]:
help(time.gmtime)

In [ ]:
time.gmtime()

In [ ]:
time.gmtime(1999999999)

In [ ]:
print(time.struct_time.__doc__)

In [ ]:
time.time()

In [ ]:
help(time.localtime)

In [ ]:
help(time.gmtime)

In [ ]:
time.localtime()

In [ ]:
time.gmtime()

In [ ]:
from datetime import datetime
print(datetime.__doc__)

In [ ]:
print(datetime.__doc__)

In [ ]:
datetime.now()

In [ ]:
datetime.utcnow()

In [ ]:
datetime(2023,12,10)

In [ ]:
from zoneinfo import ZoneInfo
dt_f = datetime(year=2021, month=10, day = 13, hour=0, minute=23, tzinfo=ZoneInfo("Asia/Jakarta"))
dt_n = datetime(year=2020, month=5, day = 11, hour=11, minute=30, tzinfo=ZoneInfo("Asia/Jakarta"))

In [ ]:
diff = dt_f - dt_n

In [ ]:
print(dir(diff))

In [ ]:
diff.days

In [ ]:
from zoneinfo import ZoneInfo
dt_f = datetime(year=2021, month=10, day = 13, hour=0, minute=23, tzinfo=ZoneInfo("Asia/Jakarta"))
dt_n = datetime(year=2020, month=5, day = 11, hour=11, minute=30, tzinfo=ZoneInfo("Asia/Jakarta"))

diff = dt_f - dt_n

print(f'Selisih hari lahir Faris dan Noah {diff.days} hari')
print(f'Selisih detik lahir Faris dan Noah {diff.total_seconds()} hari')

In [ ]:
print(type(dt_f))
print(type(dt_n))
print(type(diff))

In [ ]:
from datetime import timedelta

In [ ]:
td = datetime.now(tz=ZoneInfo("Asia/Jakarta"))
td

In [ ]:
help(date)

In [ ]:
limaRibuHari = timedelta(days=5000)
umurFaris = (datetime.now(tz=ZoneInfo("Asia/Jakarta")) - dt_f) + limaRibuHari
help(umurFaris)

In [ ]:
limaRibuHari = timedelta(days=5000)
umurFaris = dt_f + limaRibuHari
print(umurFaris)

In [ ]:
iso_date = '1977-11-24T19:30:13+01:00'
print(datetime.fromisoformat(iso_date))

In [ ]:
time_stamp_now = time.time()
print(datetime.fromtimestamp(time_stamp_now, tz=ZoneInfo("Asia/Jakarta")))

In [ ]:
order_total = 247

if order_total > 100:
    discount = 25  # GBP
else:
    discount = 0  # GBP
print(f'Jumlah order {order_total}, mendapatkan diskon {discount}')

In [ ]:
order_total = 247
discount = 25 if order_total > 100 else 0
print(f'Jumlah order {order_total}, mendapatkan diskon {discount}')

In [ ]:
for number in [0, 1, 2, 3, 4]:
    print(number)

In [ ]:
for number in range(5):
    print(number)

In [ ]:
nama = 'farras', 'tania', 'faris', 'noah'
for position in range (len (nama) ):
    print(f'Nomor urut {position} adalah {nama[position]}')

In [ ]:
nama = 'farras', 'tania', 'faris', 'noah'
for positions, value in enumerate (nama, start = 2): 
    print(f'Nomor {positions} disini oleh {value}')

In [ ]:
nama = 'farras', 'faris', 'noah'
print(type (nama))

iter_nama = iter(nama)
print(type (iter_nama))

In [ ]:
print(next(iter_nama)) #(1)
print(next(iter_nama)) #(2)
print(next(iter_nama)) #(3)
print(next(iter_nama)) #(4)

In [ ]:
for a in iter_nama:
    print (a)

In [ ]:
data = range(3)
print("Pemanggilan pertaman")
for a in data:
    print (a)
print("Pemanggialan kedua")
for a in data:
    print (a)

In [ ]:
data_iter = iter(range(3))
print("Pemanggilan pertaman")
for a in data_iter:
    print (a)
print("Pemanggialan kedua")
for a in data_iter:
    print (a)

In [ ]:
nama = ["Farras", "Tania", "Faris", "Noah"]
umur = [26, 23, 2, 1]
tl = ["Jakarta", "Depok", "Bogor", "Bogor"]

In [ ]:
for position in range (0,4):
    print (f'{nama[position]} berumur {umur[position]} lahir di {tl[position]} ')

In [ ]:
for nilai_nama, nilai_umur, nilai_tl in zip (nama, umur, tl):
    print (f'{nilai_nama} berumur {nilai_umur} lahir di {nilai_tl} ')

In [ ]:
for data in zip (nama, umur, tl):
    nilai_nama, nilai_umur, nilai_tl = data
    print (f'{nilai_nama} berumur {nilai_umur} lahir di {nilai_tl} ')

In [ ]:
def int_to_bin(number):
    n = number
    binnary = []
    while n > 0:
        binnary.append( n % 2)
        n //= 2
    
    binnary.reverse()
    return binnary;

In [ ]:
print(int_to_bin(9))

In [ ]:
def int_to_bin_div_mod(number):
    n = number
    binnary = []
    while n > 0:
        n, bins = divmod(n,2)
        binnary.append(bins)
    
    binnary.reverse()
    return binnary;

In [ ]:
print(int_to_bin_div_mod(11))

In [ ]:
from datetime import date, timedelta

today = date.today()
tommorow = today + timedelta(days=1)

products = [
{'id':'1', 'exparation_date':today, 'name':'Nasi Padang', 'price':15000},
{'id':'2', 'exparation_date':tommorow, 'name':'Jus Jeruk', 'price':20000},
{'id':'3', 'exparation_date':today, 'name':'Soto Lamongan', 'price':35000}
]

for product in products:
        if product['exparation_date'] != today:
                continue
        product['price'] *= 0.8
        print(f"Price for ${product['name']} is {product['price']:,.0f}")

In [ ]:
print("Input number here : ", end="")

while (True):
    print("Keep enter the number here : ", end="")
    number = int(input())
    if (number%7 != 0):

            print("Iterating is still working")
            print("-------------");
    else:
            print("opps you entered boom number, breaking soon")
            break

print ("the game has ended")

In [ ]:
class DriverException(Exception):
        pass


nama = ("farras","tania","faris", "noah")
umur = (17,14,0,0)

for data in zip(nama,umur):
        nama, umur = data
        if umur >= 18:
                driver = (nama,umur)
                print(driver)
                break
else :
        raise DriverException("Driver not found")

In [ ]:
if lulus := True:
    print("Lulus")
else:
    print("Tidak lulus")

In [ ]:
lulus = True
if lulus:
        print ("lulus")
else:
        print("Tidak lulus")

In [ ]:
while (True):
    print("Input the number here : ", end="")
    
    if (number := int(input())%7 != 0):

            print("Iterating is still working")
            print("-------------");
    else:
            print("opps you entered boom number, breaking soon")
            break

print ("the game has ended")

In [ ]:
# scoping.level.1.py
def my_function():
    # test = 1 # this is defined in the local scope of the function
    print('my_function:', test)

test = 0 # this is defined in the global scope
my_function()
print('global:', test)

In [ ]:
def outer():
    test = 1

    def inner():
        # test = 2

        def deep_inner():
            test = 3
            print(f'Deeper inner : {test}')

        deep_inner()
        print(f'Inner : {test}')
    inner()
    print(f'Outer : {test}')

test = 0
outer()
print(f'Global : {test}')

In [ ]:
def outer():
    test = 1
    
    
    def inner():
        test = 2
        
        
        def deep_inner():
            test = 3
            print(f'Deeper inner : {test}')
        
        deep_inner()
        print(f'Inner : {test}')
    inner()
    print(f'Outer : {test}')


test = 0
outer()
print(f'Global : {test}')

---

In [ ]:
def outer():
    test = 1
    
    
    def inner():
        nonlocal test
        test = 2
        
        
        def deep_inner():
            test = 3
            print(f'Deeper inner : {test}')
        
        deep_inner()
        print(f'Inner : {test}')
    inner()
    print(f'Outer : {test}') #(1)!


test = 0            
outer()
print(f'Global : {test}')

In [ ]:
def outer():
    test = 1
    
    def inner():
        test = 2
        
        def deep_inner():
            nonlocal test
            test = 3
            print(f'Deeper inner : {test}')
        
        deep_inner()#(1)!
        print(f'Inner : {test}') #(2)!
    inner()
    print(f'Outer : {test}')

test = 0
outer()
print(f'Global : {test}')

In [ ]:
def outer():
    test = 1
    
    def inner():
        nonlocal test
        test = 2
        
        def deep_inner():
            nonlocal test
            test = 3
            print(f'Deeper inner : {test}')
        
        deep_inner()#(1)!
        print(f'Inner : {test}') #(2)!
    inner()
    print(f'Outer : {test}')

test = 0
outer()
print(f'Global : {test}')

In [ ]:
from numpy.random import standard_normal

In [ ]:
standard_normal([4,4])

In [ ]:
def outer():
    nonlocal test
    test = 1
    
    def inner():
        test = 2
        
        def deep_inner():
            test = 3
            print(f'Deeper inner : {test}')
        
        deep_inner()#(1)!
        print(f'Inner : {test}') #(2)!
    inner()
    print(f'Outer : {test}')

test = 0
outer()
print(f'Global : {test}')

In [ ]:
def outer():
    test = 1
    
    def inner():
        # test = 2
        
        def deep_inner():
            test = 3
            print(f'Deeper inner : {test}')
        
        deep_inner()#(1)!
        print(f'Inner : {test}') #(2)!
    inner()
    print(f'Outer : {test}')

test = 0
outer()
print(f'Global : {test}')

In [ ]:
def outer():
    test = 1
    
    def inner():
        global test
        # test = 2
        
        def deep_inner():
            test = 3
            print(f'Deeper inner : {test}')
        
        deep_inner()#(1)!
        print(f'Inner : {test}') #(2)!
    inner()
    print(f'Outer : {test}')

test = 0
outer()
print(f'Global : {test}')

In [ ]:
def outer():
    test = 1
    
    def inner():
        global test
        test = 2
        
        def deep_inner():
            test = 3
            print(f'Deeper inner : {test}')
        
        deep_inner()#(1)!
        print(f'Inner : {test}')
    inner()
    print(f'Outer : {test}')

test = 0
outer()
print(f'Global : {test}')

In [ ]:
x = 10
def ganda(x):
    x = 2 #(1)!
    print(x*2) 

ganda(x)
print(x) #(2)!

In [ ]:
lst = [1,2,3,4,5]
def func(x):
    for a,b in enumerate(x):
        lst[a] = b**2
        
func(lst)
print(lst)

In [ ]:
lst = [1,2,3,4,5]
def func(x):
    for a,b in enumerate(x):
        lst[a] = b**2
        
    x = [0,0,0,0,0] #(1)! Tidak dapat mengganti nilai caller, `lst` pada global scope yang sudah dimodifikasi.
func(lst)
print(lst) #(2)! Tetap mengambil nilai `lst` pada global scope yang sudah dimodifikasi oleh fungsi `#!python func`.

In [ ]:
def func (satu, dua, tiga):
    print(satu, dua ,tiga)
    
func (10,20,30)

In [ ]:
def func (satu, dua, tiga):
    print(satu, dua ,tiga)
    
func (tiga=30, satu=10, dua=20)

In [ ]:
def func (satu, dua, tiga):
    print(satu, dua ,tiga)
    
func (10, tiga=30,  dua=20)

In [ ]:
def func (satu, dua, tiga):
    print(satu, dua ,tiga)
    
func (dua= 20, satu=10,  30)

In [ ]:
deret = (10,20,30)
def func (satu, dua, tiga):
    print(satu, dua ,tiga)

func(*deret)

In [ ]:
deret = [10,20,30]
def func (satu, dua, tiga):
    print(satu, dua ,tiga)
    
func(*deret)

In [ ]:
deret = {'satu':10,'dua':20,'tiga':30}
def func (satu, dua, tiga):
    deret["satu"] = 50
    print(satu, dua ,tiga)
    
func(**deret)

In [ ]:
def func (a,b,c,d,e,f,g):
    print(a,b,c,d,e,f,g)
    
    
func(1,*(2,3,4,5), **{'f':6,'g':7})
func(c = 3, d= 4, *(1,2), e=5,f=6,**{'g':7})
func(*(1,2), d=4, c=3,  **{'f':6,'g':7}, e=5)

In [ ]:
def func (a,b=2,c=3):
    print(a,b,c)
    
func (1)
func (b=4,c=6,a=2)
func(*(4,5),6)
func(2,3)

In [ ]:
def func (a,b=2,c):
    print(a,b,c)

func (1)
func (b=4,c=6,a=2)
func(*(4,5),6)
func(2,3)

In [ ]:
def terkecil (*post):
    if post:
        terkecil = post[0] # Terkecil sementara
        for a in post[1:]:
            if a < terkecil:
                terkecil = a
        return terkecil
    
print(terkecil(1,-2,4,-5,6))

In [ ]:
def dua_positional_parameter (*post, *post2):
    print(type(post), type(post2))

In [ ]:
def dua_positional_parameter (*post = (1,2,3)):
    print(type(post))

In [ ]:
deret = {'a':1,'b':2,'c':3,'d':4}
def func (**kwargs):
    print(type(kwargs))
    print(kwargs)
    
func(**deret)

In [ ]:
def terkecil (*post): #(1)!
    if post:
        terkecil = post[0] # Terkecil sementara
        for a in post[1:]:
            if a < terkecil:
                terkecil = a
        return terkecil

deret = [1,-2,3,-4,5,6]
print(terkecil(*deret)) #(2)!

In [ ]:
deret.get.__doc__

In [ ]:
def connect(**options):
    conn_params = {
    'host': options.get('host', '127.0.0.1'),
    'port': options.get('port', 5432),
    'user': options.get('user', ''),
    'pwd': options.get('pwd', ''),
    }
    print(conn_params)
    # we then connect to the db (commented out)
    # db.connect(**conn_params)
connect()
connect(host='127.0.0.42', port=5433)
connect(port=5431, user='fab', pwd='gandalf')

In [ ]:
def func(a,b,/,c):
    print(a,b,c)

func(1,2,c=3)
func(*(2,4), 8)
func(a=1,b=2,c=3)

In [ ]:
def func (a,b=2,/):
    print(a,b)
    
func(1,3)
func(8)

In [ ]:
def func (a,b,/,c,d,e,f,*args,**kwargs):
    print (f'a,b : {a,b}')
    print(f'c,d,e : {c,d,e}')
    print(f'f : {f}')
    print(args)
    print(kwargs)

In [ ]:
func(0,1,*(4,5,6,7,8),*(9,10,11,12,13,14,15,16,17,18), detail="test", more="more-detail")

In [ ]:
def func(a=[],b={}):
    print(f'{"-"*6}start{"-"*6}')
    b[len(a)] = a
    a.append(len(a))
    print(a)
    print(b)
    print()

In [ ]:
func()
func()
func()

In [ ]:
def func(a=None,b=None):
    if a is None:
        a = []
        
    if b is None:
        b = {}
    print(f'{"-"*6}start{"-"*6}')
    b[len(a)] = a
    a.append(len(a))
    print(a)
    print(b)
    print()
    
func()
func()
func()

In [ ]:
def func (a,b):
    return (a+b)
hasil = func(1,2)
print(hasil)

In [73]:
def func_mul (a,b):
    return (a,b)
hasil_1, hasil_2 = func_mul(1,2)
print(hasil_1)
print(hasil_2)

1
2

In [71]:
def factorial(n, l,m):
    print(f'awal : {n}')
    if n in (0, 1): # base case
        print(f'sini setelah satu : n = {n}')
        return 1
    m = m + 1
    print(f"Sini lagi masih perulangan {n-1}")
    hasil = factorial(n - 1,l,m)
    
    l+=1 # Kesini cuman 1 kali
    print(f'l: {l} m : {m} N {n} Hasil {hasil} Akhir {hasil * n}')
    
    return hasil * n # recursive case\\

print(factorial(4,0,0))

awal : 4
Sini lagi masih perulangan 3
awal : 3
Sini lagi masih perulangan 2
awal : 2
Sini lagi masih perulangan 1
awal : 1
sini setelah satu : n = 1
l: 1 m : 3 N 2 Hasil 1 Akhir 2
l: 1 m : 2 N 3 Hasil 2 Akhir 6
l: 1 m : 1 N 4 Hasil 6 Akhir 24
24

In [ ]:
def faktorial (n):
    # base, kondisi stop recursive function
    if n in (0,1):
        return 1
    
    return faktorial (n-1) * n

faktorial (4)

In [49]:
ambil_genap = lambda *lists : [a for a in lists if a%2 == 0]

jumlah(1,3,2,4,5,6,7,8,11)

[2, 4, 6, 8]

In [59]:
[a for a in dir(__builtins__) if a[0].islower()][10:20]

['chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display']

In [106]:
import numpy as np
print(getattr(pow,"__doc__"))
print(pow.__doc__)

Equivalent to base**exp with 2 arguments or base**exp % mod with 3 arguments

Some types, such as ints, are able to use a more efficient algorithm when
invoked using the three argument form.
Equivalent to base**exp with 2 arguments or base**exp % mod with 3 arguments

Some types, such as ints, are able to use a more efficient algorithm when
invoked using the three argument form.

In [103]:
def contoh_doc(nama, tempat):
    """ Contoh dokumentasi

    Ini adalah dokumentasi yang berisikan penjelasan tentang fungsi ini. Fungsi ini, Fungsi ini,Fungsi ini,Fungsi ini,Fungsi ini,Fungsi ini.

    :param nama: Pembuat dokumentasi
    :param tempat: Tempat membuat dokumentasi
    :return: String detail hasil fungsi ini
    """

    return f'Nama {nama}, tempat {tempat}'

In [107]:
help(contoh_doc)

Help on function contoh_doc in module __main__:

contoh_doc(nama, tempat)
    Contoh dokumentasi

    Ini adalah dokumentasi yang berisikan penjelasan tentang fungsi ini. Fungsi ini, Fungsi ini,Fungsi ini,Fungsi ini,Fungsi ini,Fungsi ini.

    :param nama: Pembuat dokumentasi
    :param tempat: Tempat membuat dokumentasi
    :return: String detail hasil fungsi ini

In [108]:
print(contoh_doc.__doc__)

 Contoh dokumentasi

    Ini adalah dokumentasi yang berisikan penjelasan tentang fungsi ini. Fungsi ini, Fungsi ini,Fungsi ini,Fungsi ini,Fungsi ini,Fungsi ini.

    :param nama: Pembuat dokumentasi
    :param tempat: Tempat membuat dokumentasi
    :return: String detail hasil fungsi ini