In [1]:
from datetime import date

In [2]:
today = date.today()

In [3]:
print(today.timetuple.__doc__)

Return time tuple, compatible with time.localtime().

In [12]:
today.timetuple()

time.struct_time(tm_year=2023, tm_mon=2, tm_mday=11, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=5, tm_yday=42, tm_isdst=-1)

In [13]:
today.timetuple().tm_year

2023

In [14]:
today.weekday.__doc__

'Return the day of the week represented by the date.\nMonday == 0 ... Sunday == 6'

In [15]:
today.weekday()

5

In [19]:
import calendar

In [23]:
calendar.day_

calendar._localized_day

In [27]:
import calendar

calendar.day_name[today.weekday()]

'Saturday'

In [28]:
import time

In [30]:
print(time.__doc__)

This module provides various functions to manipulate time values.

There are two standard representations of time.  One is the number
of seconds since the Epoch, in UTC (a.k.a. GMT).  It may be an integer
or a floating point number (to represent fractions of seconds).
The Epoch is system-defined; on Unix, it is generally January 1st, 1970.
The actual value can be retrieved by calling gmtime(0).

The other representation is a tuple of 9 integers giving local time.
The tuple items are:
  year (including century, e.g. 1998)
  month (1-12)
  day (1-31)
  hours (0-23)
  minutes (0-59)
  seconds (0-59)
  weekday (0-6, Monday is 0)
  Julian day (day in the year, 1-366)
  DST (Daylight Savings Time) flag (-1, 0 or 1)
If the DST flag is 0, the time is given in the regular time zone;
if it is 1, the time is given in the DST time zone;
if it is -1, mktime() should guess based on the date and time.

In [32]:
print(time.ctime.__doc__)

ctime(seconds) -> string

Convert a time in seconds since the Epoch to a string in local time.
This is equivalent to asctime(localtime(seconds)). When the time tuple is
not present, current time as returned by localtime() is used.

In [35]:
time.ctime()

'Sat Feb 11 22:24:04 2023'

In [46]:
time.daylight

0

In [47]:
help(time.gmtime)

Help on built-in function gmtime in module time:

gmtime(...)
    gmtime([seconds]) -> (tm_year, tm_mon, tm_mday, tm_hour, tm_min,
                           tm_sec, tm_wday, tm_yday, tm_isdst)

    Convert seconds since the Epoch to a time tuple expressing UTC (a.k.a.
    GMT).  When 'seconds' is not passed in, convert the current time instead.

    If the platform supports the tm_gmtoff and tm_zone, they are available as
    attributes only.

In [48]:
time.gmtime()

time.struct_time(tm_year=2023, tm_mon=2, tm_mday=11, tm_hour=15, tm_min=36, tm_sec=16, tm_wday=5, tm_yday=42, tm_isdst=0)

In [60]:
time.gmtime(1999999999)

time.struct_time(tm_year=2033, tm_mon=5, tm_mday=18, tm_hour=3, tm_min=33, tm_sec=19, tm_wday=2, tm_yday=138, tm_isdst=0)

In [67]:
print(time.struct_time.__doc__)

The time value as returned by gmtime(), localtime(), and strptime(), and
 accepted by asctime(), mktime() and strftime().  May be considered as a
 sequence of 9 integers.

 Note that several fields' values are not the same as those defined by
 the C language standard for struct tm.  For example, the value of the
 field tm_year is the actual year, not year - 1900.  See individual
 fields' descriptions for details.

In [69]:
time.time()

TypeError: time.time() takes no arguments (1 given)

In [70]:
help(time.localtime)

Help on built-in function localtime in module time:

localtime(...)
    localtime([seconds]) -> (tm_year,tm_mon,tm_mday,tm_hour,tm_min,
                              tm_sec,tm_wday,tm_yday,tm_isdst)

    Convert seconds since the Epoch to a time tuple expressing local time.
    When 'seconds' is not passed in, convert the current time instead.

In [71]:
help(time.gmtime)

Help on built-in function gmtime in module time:

gmtime(...)
    gmtime([seconds]) -> (tm_year, tm_mon, tm_mday, tm_hour, tm_min,
                           tm_sec, tm_wday, tm_yday, tm_isdst)

    Convert seconds since the Epoch to a time tuple expressing UTC (a.k.a.
    GMT).  When 'seconds' is not passed in, convert the current time instead.

    If the platform supports the tm_gmtoff and tm_zone, they are available as
    attributes only.

In [73]:
time.localtime()

time.struct_time(tm_year=2023, tm_mon=2, tm_mday=11, tm_hour=22, tm_min=52, tm_sec=9, tm_wday=5, tm_yday=42, tm_isdst=0)

In [74]:
time.gmtime()

time.struct_time(tm_year=2023, tm_mon=2, tm_mday=11, tm_hour=15, tm_min=52, tm_sec=9, tm_wday=5, tm_yday=42, tm_isdst=0)

In [77]:
from datetime import datetime
print(datetime.__doc__)

datetime(year, month, day[, hour[, minute[, second[, microsecond[,tzinfo]]]]])

The year, month and day arguments are required. tzinfo may be None, or an
instance of a tzinfo subclass. The remaining arguments may be ints.

In [79]:
print(datetime.__doc__)

datetime(year, month, day[, hour[, minute[, second[, microsecond[,tzinfo]]]]])

The year, month and day arguments are required. tzinfo may be None, or an
instance of a tzinfo subclass. The remaining arguments may be ints.

In [85]:
datetime.now()

datetime.datetime(2023, 2, 11, 23, 16, 34, 533686)

In [86]:
datetime.utcnow()

datetime.datetime(2023, 2, 11, 16, 16, 34, 733540)

In [81]:
datetime(2023,12,10)

datetime.datetime(2023, 12, 10, 0, 0)

In [92]:
from zoneinfo import ZoneInfo
dt_f = datetime(year=2021, month=10, day = 13, hour=0, minute=23, tzinfo=ZoneInfo("Asia/Jakarta"))
dt_n = datetime(year=2020, month=5, day = 11, hour=11, minute=30, tzinfo=ZoneInfo("Asia/Jakarta"))

In [93]:
diff = dt_f - dt_n

In [99]:
print(dir(diff))

['__abs__', '__add__', '__bool__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__pos__', '__radd__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmod__', '__rmul__', '__rsub__', '__rtruediv__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', 'days', 'max', 'microseconds', 'min', 'resolution', 'seconds', 'total_seconds']

In [122]:
diff.days

519

In [123]:
from zoneinfo import ZoneInfo
dt_f = datetime(year=2021, month=10, day = 13, hour=0, minute=23, tzinfo=ZoneInfo("Asia/Jakarta"))
dt_n = datetime(year=2020, month=5, day = 11, hour=11, minute=30, tzinfo=ZoneInfo("Asia/Jakarta"))

diff = dt_f - dt_n

print(f'Selisih hari lahir Faris dan Noah {diff.days} hari')
print(f'Selisih detik lahir Faris dan Noah {diff.total_seconds()} hari')

Selisih hari lahir Faris dan Noah 519 hari
Selisih detik lahir Faris dan Noah 44887980.0 hari

In [107]:
print(type(dt_f))
print(type(dt_n))
print(type(diff))

<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.timedelta'>

In [110]:
from datetime import timedelta

In [135]:
td = datetime.now(tz=ZoneInfo("Asia/Jakarta"))
td

datetime.datetime(2023, 2, 11, 23, 52, 34, 995062, tzinfo=zoneinfo.ZoneInfo(key='Asia/Jakarta'))

In [161]:
help(date)

Help on class date in module datetime:

class date(builtins.object)
 |  date(year, month, day) --> date object
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(...)
 |      Formats self with strftime.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __reduce__(...)
 |      __reduce__() -> (cls, state)
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  ctime(...)
 |      Return ctime() style string.
 |
 |  isocalendar(...)
 |      Return a named tuple containing ISO year, week number, and weekday.
 |
 |  isoformat(...)
 |      Return string in ISO 8601 format, YYYY-MM-DD.
 |
 |  isoweekday(...)
 |      Return the day of the week represented by the date.
 |      Monday == 1 ... Sunday == 7
 |
 |  replace(...)
 |      Return date with new specified fields.
 |
 |  strftime(...)
 |      format -> strftime() style string.
 |
 |  timetuple(...)
 |      Return time tuple, compatible with time.localtime().
 |
 |  toordinal(...)
 |      Return proleptic Gregorian ordinal.  January 1 of year 1 is day 1.
 |
 |  weekday(...)
 |      Return the day of the week represented by the date.
 |      Monday == 0 ... Sunday == 6
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  fromisocalendar(...) from builtins.type
 |      int, int, int -> Construct a date from the ISO year, week number and weekday.
 |
 |      This is the inverse of the date.isocalendar() function
 |
 |  fromisoformat(...) from builtins.type
 |      str -> Construct a date from the output of date.isoformat()
 |
 |  fromordinal(...) from builtins.type
 |      int -> date corresponding to a proleptic Gregorian ordinal.
 |
 |  fromtimestamp(timestamp, /) from builtins.type
 |      Create a date from a POSIX timestamp.
 |
 |      The timestamp is a number, e.g. created via time.time(), that is interpreted
 |      as local time.
 |
 |  today(...) from builtins.type
 |      Current date or datetime:  same as self.__class__.fromtimestamp(time.time()).
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  day
 |
 |  month
 |
 |  year
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  max = datetime.date(9999, 12, 31)
 |
 |  min = datetime.date(1, 1, 1)
 |
 |  resolution = datetime.timedelta(days=1)

In [165]:
limaRibuHari = timedelta(days=5000)
umurFaris = (datetime.now(tz=ZoneInfo("Asia/Jakarta")) - dt_f) + limaRibuHari
help(umurFaris)

Help on timedelta object:

class timedelta(builtins.object)
 |  Difference between two datetime values.
 |
 |  timedelta(days=0, seconds=0, microseconds=0, milliseconds=0, minutes=0, hours=0, weeks=0)
 |
 |  All arguments are optional and default to 0.
 |  Arguments may be integers or floats, and may be positive or negative.
 |
 |  Methods defined here:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __reduce__(...)
 |      __reduce__() -> (cls, state)
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  total_seconds(...)
 |      Total seconds in the duration.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  days
 |      Number of days.
 |
 |  microseconds
 |      Number of microseconds (>= 0 and less than 1 second).
 |
 |  seconds
 |      Number of seconds (>= 0 and less than 1 day).
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  max = datetime.timedelta(days=999999999, seconds=86399, microseconds=9...
 |
 |  min = datetime.timedelta(days=-999999999)
 |
 |  resolution = datetime.timedelta(microseconds=1)

In [167]:
limaRibuHari = timedelta(days=5000)
umurFaris = dt_f + limaRibuHari
print(umurFaris)

2035-06-22 00:23:00+07:00

In [168]:
iso_date = '1977-11-24T19:30:13+01:00'
print(datetime.fromisoformat(iso_date))

1977-11-24 19:30:13+01:00

In [171]:
time_stamp_now = time.time()
print(datetime.fromtimestamp(time_stamp_now, tz=ZoneInfo("Asia/Jakarta")))

2023-02-12 00:15:26.170209+07:00

In [5]:
order_total = 247

if order_total > 100:
    discount = 25  # GBP
else:
    discount = 0  # GBP
print(f'Jumlah order {order_total}, mendapatkan diskon {discount}')

Jumlah order 247, mendapatkan diskon 25

In [6]:
order_total = 247
discount = 25 if order_total > 100 else 0
print(f'Jumlah order {order_total}, mendapatkan diskon {discount}')

Jumlah order 247, mendapatkan diskon 25

In [7]:
for number in [0, 1, 2, 3, 4]:
    print(number)

0
1
2
3
4

In [8]:
for number in range(5):
    print(number)

0
1
2
3
4

In [9]:
nama = 'farras', 'tania', 'faris', 'noah'
for position in range (len (nama) ):
    print(f'Nomor urut {position} adalah {nama[position]}')

Nomor urut 0 adalah farras
Nomor urut 1 adalah tania
Nomor urut 2 adalah faris
Nomor urut 3 adalah noah

In [10]:
nama = 'farras', 'tania', 'faris', 'noah'
for positions, value in enumerate (nama, start = 2): 
    print(f'Nomor {positions} disini oleh {value}')

Nomor 2 disini oleh farras
Nomor 3 disini oleh tania
Nomor 4 disini oleh faris
Nomor 5 disini oleh noah

In [12]:
nama = 'farras', 'faris', 'noah'
print(type (nama))

iter_nama = iter(nama)
print(type (iter_nama))

<class 'tuple'>
<class 'tuple_iterator'>

In [9]:
print(next(iter_nama)) #(1)
print(next(iter_nama)) #(2)
print(next(iter_nama)) #(3)
print(next(iter_nama)) #(4)

farras
faris
noah

StopIteration:

In [14]:
for a in iter_nama:
    print (a)

In [23]:
data = range(3)
print("Pemanggilan pertaman")
for a in data:
    print (a)
print("Pemanggialan kedua")
for a in data:
    print (a)

Pemanggilan pertaman
0
1
2
Pemanggialan kedua
0
1
2

In [25]:
data_iter = iter(range(3))
print("Pemanggilan pertaman")
for a in data_iter:
    print (a)
print("Pemanggialan kedua")
for a in data_iter:
    print (a)

Pemanggilan pertaman
0
1
2
Pemanggialan kedua

In [43]:
nama = ["Farras", "Tania", "Faris", "Noah"]
umur = [26, 23, 2, 1]
tl = ["Jakarta", "Depok", "Bogor", "Bogor"]

In [27]:
for position in range (0,4):
    print (f'{nama[position]} berumur {umur[position]} lahir di {tl[position]} ')

Farras berumur 26 lahir di Jakarta
Tania berumur 23 lahir di Depok
Faris berumur 2 lahir di Bogor
Noah berumur 1 lahir di Bogor

In [29]:
for nilai_nama, nilai_umur, nilai_tl in zip (nama, umur, tl):
    print (f'{nilai_nama} berumur {nilai_umur} lahir di {nilai_tl} ')

Farras berumur 26 lahir di Jakarta
Tania berumur 23 lahir di Depok
Faris berumur 2 lahir di Bogor
Noah berumur 1 lahir di Bogor

In [31]:
for data in zip (nama, umur, tl):
    nilai_nama, nilai_umur, nilai_tl = data
    print (f'{nilai_nama} berumur {nilai_umur} lahir di {nilai_tl} ')

Farras berumur 26 lahir di Jakarta
Tania berumur 23 lahir di Depok
Faris berumur 2 lahir di Bogor
Noah berumur 1 lahir di Bogor

In [82]:
def int_to_bin(number):
    n = number
    binnary = []
    while n > 0:
        binnary.append( n % 2)
        n //= 2
    
    binnary.reverse()
    return binnary;

In [83]:
print(int_to_bin(9))

[1, 0, 0, 1]

In [81]:
def int_to_bin_div_mod(number):
    n = number
    binnary = []
    while n > 0:
        n, bins = divmod(n,2)
        binnary.append(bins)
    
    binnary.reverse()
    return binnary;

In [85]:
print(int_to_bin_div_mod(11))

[1, 0, 1, 1]

In [102]:
from datetime import date, timedelta

today = date.today()
tommorow = today + timedelta(days=1)

products = [
{'id':'1', 'exparation_date':today, 'name':'Nasi Padang', 'price':15000},
{'id':'2', 'exparation_date':tommorow, 'name':'Jus Jeruk', 'price':20000},
{'id':'3', 'exparation_date':today, 'name':'Soto Lamongan', 'price':35000}
]

for product in products:
        if product['exparation_date'] != today:
                continue
        product['price'] *= 0.8
        print(f"Price for ${product['name']} is {product['price']:,.0f}")

Price for $Nasi Padang is 12,000
Price for $Soto Lamongan is 28,000

In [119]:
print("Input number here : ", end="")

while (True):
    print("Keep enter the number here : ", end="")
    number = int(input())
    if (number%7 != 0):

            print("Iterating is still working")
            print("-------------");
    else:
            print("opps you entered boom number, breaking soon")
            break

print ("the game has ended")

Input number here : Keep enter the number here :

 1

Iterating is still working
-------------
Keep enter the number here :

 7

opps you entered boom number, breaking soon
the game has ended

In [108]:
class DriverException(Exception):
        pass


nama = ("farras","tania","faris", "noah")
umur = (17,14,0,0)

for data in zip(nama,umur):
        nama, umur = data
        if umur >= 18:
                driver = (nama,umur)
                print(driver)
                break
else :
        raise DriverException("Driver not found")

DriverException: Driver not found

In [116]:
if lulus := True:
    print("Lulus")
else:
    print("Tidak lulus")

Lulus

In [112]:
lulus = True
if lulus:
        print ("lulus")
else:
        print("Tidak lulus")

lulus

In [120]:
while (True):
    print("Input the number here : ", end="")
    
    if (number := int(input())%7 != 0):

            print("Iterating is still working")
            print("-------------");
    else:
            print("opps you entered boom number, breaking soon")
            break

print ("the game has ended")

Input the number here :

 7

opps you entered boom number, breaking soon
the game has ended

In [125]:
# scoping.level.1.py
def my_function():
    # test = 1 # this is defined in the local scope of the function
    print('my_function:', test)

test = 0 # this is defined in the global scope
my_function()
print('global:', test)

my_function: 0
global: 0

In [189]:
def outer():
    test = 1

    def inner():
        # test = 2

        def deep_inner():
            test = 3
            print(f'Deeper inner : {test}')

        deep_inner()
        print(f'Inner : {test}')
    inner()
    print(f'Outer : {test}')

test = 0
outer()
print(f'Global : {test}')

Deeper inner : 3
Inner : 1
Outer : 1
Global : 0

In [188]:
def outer():
    test = 1
    
    
    def inner():
        test = 2
        
        
        def deep_inner():
            test = 3
            print(f'Deeper inner : {test}')
        
        deep_inner()
        print(f'Inner : {test}')
    inner()
    print(f'Outer : {test}')


test = 0
outer()
print(f'Global : {test}')

Deeper inner : 3
Inner : 2
Outer : 1
Global : 0

---

In [187]:
def outer():
    test = 1
    
    
    def inner():
        nonlocal test
        test = 2
        
        
        def deep_inner():
            test = 3
            print(f'Deeper inner : {test}')
        
        deep_inner()
        print(f'Inner : {test}')
    inner()
    print(f'Outer : {test}') #(1)!


test = 0            
outer()
print(f'Global : {test}')

Deeper inner : 3
Inner : 2
Outer : 2
Global : 0

In [186]:
def outer():
    test = 1
    
    def inner():
        test = 2
        
        def deep_inner():
            nonlocal test
            test = 3
            print(f'Deeper inner : {test}')
        
        deep_inner()#(1)!
        print(f'Inner : {test}') #(2)!
    inner()
    print(f'Outer : {test}')

test = 0
outer()
print(f'Global : {test}')

Deeper inner : 3
Inner : 3
Outer : 1
Global : 0

In [185]:
def outer():
    test = 1
    
    def inner():
        nonlocal test
        test = 2
        
        def deep_inner():
            nonlocal test
            test = 3
            print(f'Deeper inner : {test}')
        
        deep_inner()#(1)!
        print(f'Inner : {test}') #(2)!
    inner()
    print(f'Outer : {test}')

test = 0
outer()
print(f'Global : {test}')

Deeper inner : 3
Inner : 3
Outer : 3
Global : 0

In [150]:
from numpy.random import standard_normal

In [152]:
standard_normal([4,4])

array([[-0.19914706,  1.42754049,  1.45713892,  0.50916662],
       [ 1.26527916, -0.10637776,  1.21692534,  0.61612303],
       [-0.24718207, -0.18604395, -0.87053182,  1.47146749],
       [ 0.31169422,  1.17095301, -1.50503534,  0.94199733]])

In [184]:
def outer():
    nonlocal test
    test = 1
    
    def inner():
        test = 2
        
        def deep_inner():
            test = 3
            print(f'Deeper inner : {test}')
        
        deep_inner()#(1)!
        print(f'Inner : {test}') #(2)!
    inner()
    print(f'Outer : {test}')

test = 0
outer()
print(f'Global : {test}')

SyntaxError: no binding for nonlocal 'test' found (3602546841.py, line 2)

In [183]:
def outer():
    test = 1
    
    def inner():
        # test = 2
        
        def deep_inner():
            test = 3
            print(f'Deeper inner : {test}')
        
        deep_inner()#(1)!
        print(f'Inner : {test}') #(2)!
    inner()
    print(f'Outer : {test}')

test = 0
outer()
print(f'Global : {test}')

Deeper inner : 3
Inner : 1
Outer : 1
Global : 0

In [191]:
def outer():
    test = 1
    
    def inner():
        global test
        # test = 2
        
        def deep_inner():
            test = 3
            print(f'Deeper inner : {test}')
        
        deep_inner()#(1)!
        print(f'Inner : {test}') #(2)!
    inner()
    print(f'Outer : {test}')

test = 0
outer()
print(f'Global : {test}')

Deeper inner : 3
Inner : 0
Outer : 1
Global : 0

In [192]:
def outer():
    test = 1
    
    def inner():
        global test
        test = 2
        
        def deep_inner():
            test = 3
            print(f'Deeper inner : {test}')
        
        deep_inner()#(1)!
        print(f'Inner : {test}')
    inner()
    print(f'Outer : {test}')

test = 0
outer()
print(f'Global : {test}')

Deeper inner : 3
Inner : 2
Outer : 1
Global : 2

In [203]:
x = 10
def ganda(x):
    x = 2 #(1)!
    print(x*2) 

ganda(x)
print(x) #(2)!

4
10

In [222]:
lst = [1,2,3,4,5]
def func(x):
    for a,b in enumerate(x):
        lst[a] = b**2
        
func(lst)
print(lst)

[1, 4, 9, 16, 25]

In [225]:
lst = [1,2,3,4,5]
def func(x):
    for a,b in enumerate(x):
        lst[a] = b**2
        
    x = [0,0,0,0,0] #(1)! Tidak dapat mengganti nilai caller, `lst` pada global scope yang sudah dimodifikasi.
func(lst)
print(lst) #(2)! Tetap mengambil nilai `lst` pada global scope yang sudah dimodifikasi oleh fungsi `#!python func`.

[1, 4, 9, 16, 25]

In [228]:
def func (satu, dua, tiga):
    print(satu, dua ,tiga)
    
func (10,20,30)

10 20 30

In [229]:
def func (satu, dua, tiga):
    print(satu, dua ,tiga)
    
func (tiga=30, satu=10, dua=20)

10 20 30

In [230]:
def func (satu, dua, tiga):
    print(satu, dua ,tiga)
    
func (10, tiga=30,  dua=20)

10 20 30

In [231]:
def func (satu, dua, tiga):
    print(satu, dua ,tiga)
    
func (dua= 20, satu=10,  30)

SyntaxError: positional argument follows keyword argument (44956415.py, line 4)

In [232]:
deret = (10,20,30)
def func (satu, dua, tiga):
    print(satu, dua ,tiga)

func(*deret)

10 20 30

In [233]:
deret = [10,20,30]
def func (satu, dua, tiga):
    print(satu, dua ,tiga)
    
func(*deret)

10 20 30

In [246]:
deret = {'satu':10,'dua':20,'tiga':30}
def func (satu, dua, tiga):
    deret["satu"] = 50
    print(satu, dua ,tiga)
    
func(**deret)

10 20 30

In [273]:
def func (a,b,c,d,e,f,g):
    print(a,b,c,d,e,f,g)
    
    
func(1,*(2,3,4,5), **{'f':6,'g':7})
func(c = 3, d= 4, *(1,2), e=5,f=6,**{'g':7})
func(*(1,2), d=4, c=3,  **{'f':6,'g':7}, e=5)

1 2 3 4 5 6 7
1 2 3 4 5 6 7
1 2 3 4 5 6 7

In [282]:
def func (a,b=2,c=3):
    print(a,b,c)
    
func (1)
func (b=4,c=6,a=2)
func(*(4,5),6)
func(2,3)

1 2 3
2 4 6
4 5 6
2 3 3

In [283]:
def func (a,b=2,c):
    print(a,b,c)

func (1)
func (b=4,c=6,a=2)
func(*(4,5),6)
func(2,3)

SyntaxError: non-default argument follows default argument (1049202099.py, line 1)

In [294]:
def terkecil (*post):
    if post:
        terkecil = post[0] # Terkecil sementara
        for a in post[1:]:
            if a < terkecil:
                terkecil = a
        return terkecil
    
print(terkecil(1,-2,4,-5,6))

-5

In [298]:
def dua_positional_parameter (*post, *post2):
    print(type(post), type(post2))

SyntaxError: invalid syntax (1957171653.py, line 1)

In [300]:
def dua_positional_parameter (*post = (1,2,3)):
    print(type(post))

SyntaxError: invalid syntax (3858464982.py, line 1)

In [326]:
deret = {'a':1,'b':2,'c':3,'d':4}
def func (**kwargs):
    print(type(kwargs))
    print(kwargs)
    
func(**deret)

<class 'dict'>
{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [323]:
def terkecil (*post): #(1)!
    if post:
        terkecil = post[0] # Terkecil sementara
        for a in post[1:]:
            if a < terkecil:
                terkecil = a
        return terkecil

deret = [1,-2,3,-4,5,6]
print(terkecil(*deret)) #(2)!

-4

In [328]:
deret.get.__doc__

'Return the value for key if key is in the dictionary, else default.'

In [325]:
def connect(**options):
    conn_params = {
    'host': options.get('host', '127.0.0.1'),
    'port': options.get('port', 5432),
    'user': options.get('user', ''),
    'pwd': options.get('pwd', ''),
    }
    print(conn_params)
    # we then connect to the db (commented out)
    # db.connect(**conn_params)
connect()
connect(host='127.0.0.42', port=5433)
connect(port=5431, user='fab', pwd='gandalf')

{'host': '127.0.0.1', 'port': 5432, 'user': '', 'pwd': ''}
{'host': '127.0.0.42', 'port': 5433, 'user': '', 'pwd': ''}
{'host': '127.0.0.1', 'port': 5431, 'user': 'fab', 'pwd': 'gandalf'}

In [337]:
def func(a,b,/,c):
    print(a,b,c)

func(1,2,c=3)
func(*(2,4), 8)
func(a=1,b=2,c=3)

1 2 3
2 4 8

TypeError: func() got some positional-only arguments passed as keyword arguments: 'a, b'

In [348]:
def func (a,b=2,/):
    print(a,b)
    
func(1,3)
func(8)

1 3
8 2

In [361]:
def func (a,b,/,c,d,e,f,*args,**kwargs):
    print (f'a,b : {a,b}')
    print(f'c,d,e : {c,d,e}')
    print(f'f : {f}')
    print(args)
    print(kwargs)

In [366]:
func(0,1,*(4,5,6,7,8),*(9,10,11,12,13,14,15,16,17,18), detail="test", more="more-detail")

a,b : (0, 1)
c,d,e : (4, 5, 6)
f : 7
(8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18)
{'detail': 'test', 'more': 'more-detail'}

In [425]:
def func(a=[],b={}):
    print(f'{"-"*6}start{"-"*6}')
    b[len(a)] = a
    a.append(len(a))
    print(a)
    print(b)
    print()

In [426]:
func()
func()
func()

------start------
[0]
{0: [0]}

------start------
[0, 1]
{0: [0, 1], 1: [0, 1]}

------start------
[0, 1, 2]
{0: [0, 1, 2], 1: [0, 1, 2], 2: [0, 1, 2]}

In [427]:
def func(a=None,b=None):
    if a is None:
        a = []
        
    if b is None:
        b = {}
    print(f'{"-"*6}start{"-"*6}')
    b[len(a)] = a
    a.append(len(a))
    print(a)
    print(b)
    print()
    
func()
func()
func()

------start------
[0]
{0: [0]}

------start------
[0]
{0: [0]}

------start------
[0]
{0: [0]}

In [432]:
def func (a,b):
    return (a+b)
hasil = func(1,2)
print(hasil)

3

In [435]:
def func_mul (a,b):
    return (a,b)
hasil_1, hasil_2 = func_mul(1,2)
print(hasil_1)
print(hasil_2)

1
2

In [22]:
def factorial(n, l,m):
    print(f'awal : {n}')
    if n in (0, 1): # base case
        print(f'sini setelah satu : n = {n}')
        return 1
    m = m + 1
    print(f"Sini lagi masih perulangan {n-1}")
    hasil = factorial(n - 1,l,m)
    
    l+=1 # Kesini cuman 1 kali
    print(f'l: {l} m : {m} N {n} Hasil {hasil} Akhir {hasil * n}')
    
    return hasil * n # recursive case\\

print(factorial(4,0,0))

awal : 4
Sini lagi masih perulangan 3
awal : 3
Sini lagi masih perulangan 2
awal : 2
Sini lagi masih perulangan 1
awal : 1
sini setelah satu : n = 1
l: 1 m : 3 N 2 Hasil 1 Akhir 2
l: 1 m : 2 N 3 Hasil 2 Akhir 6
l: 1 m : 1 N 4 Hasil 6 Akhir 24
24

In [25]:
def faktorial (n):
    # base, kondisi stop recursive function
    if n in (0,1):
        return 1
    
    return faktorial (n-1) * n

faktorial (4)

24