# Pendahuluan

Bismillah, pada penelitian kali ini, saya menggunakan datasets dari sumber terbuka untuk mengetahui apakah ada pengearuh keberhasilan belajar yang diukur dari nilai ujian terhadap pendidikan orang tua, gender,

In [6]:
import pandas as pd

## Import the data

In [5]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("sadiajavedd/students-academic-performance-dataset")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\maruf\.cache\kagglehub\datasets\sadiajavedd\students-academic-performance-dataset\versions\1

In [11]:
df = pd.read_csv(path+"\\StudentsPerformance.csv")
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

## Menyiapkan datam

In [13]:
df.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

Saya memliki 5 data ordinal, dimana data tersebut harus kita rubah kedalam bentuk data numerik.

In [20]:
print(df.gender.unique())
print(df['parental level of education'].unique())
print(df.lunch.unique())
print(df['test preparation course'].unique())

['female' 'male']
["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
['standard' 'free/reduced']
['none' 'completed']